body{
    margin: 0;
    padding: 0;
    background: url(http://static1.squarespace.com/static/556e17e5e4b0cd951e0eadbe/55a2c8c5e4b0c589e16e77c7/55a2d054e4b0858890869389/1436733779534/snakskin.jpg);
}

#game-screen{
    display: block;
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Peralta', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px
}

#restartButtom {
    border: 2px solid white;
    border-radius: 15px
}

#restartButtom:hover {
    background-color: lawngreen;
}

#scoreboard {
    margin: 0px;
}





